.bloques {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem; /* Espacio entre los bloques */
    flex-wrap: wrap; /* Los bloques se ajustan en pantallas pequeñas */
}

.bloque {
    background-color: var(--color_blanco);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
    font-family: var(--font_family--text);
    margin: 1rem; /* Margen para separar los bloques */
}

.bloque img {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
}

.bloque h3 {
    font-family: var(--font_family--title);
    margin-bottom: 0.5rem;
}

.bloque p {
    font-size: 0.9rem;
    color: var(--color_negro);
}

/* Resp. para pantallas más pequeñas */
@media (max-width: 768px) {
    .bloque {
        width: 100%; /* Los bloques ocupan el 100% del ancho en pantallas pequeñas */
    }
}
